<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
  <servlet>
      <description>Decision Service AuctionDecisionServicePort</description>
      <display-name>Decision Service AuctionDecisionServicePort</display-name>
      <servlet-name>AuctionDecisionServicePort</servlet-name>
      <servlet-class>oracle.bpel.services.rules.impl.DecisionServiceImpl</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
      <servlet-name>AuctionDecisionServicePort</servlet-name>
      <url-pattern>/AuctionDecisionService</url-pattern>
  </servlet-mapping>
</web-app>
